rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hk_tasks_v19/{taskId} { allow read, write: if true; }
    match /hk_logs_v19/{logId} { allow read, write: if true; }
    match /hk_users_v1/{userCode} { allow read, write: if true; }
    match /device_tokens/{token} { allow read, write: if true; }
  }
}
