rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fo_hk_tasks_v18/{taskId} { allow read, write: if true; }
    match /device_tokens/{token} { allow read, write: if true; }
  }
}