rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hkfo_tasks_v17/{taskId} { allow read, write: if true; }
    match /device_tokens/{token} { allow read, write: if true; }
  }
}